header{
    width: 1440px;
    height: 168px;
    background: #5AD8F3;
    
}
main{
    position: absolute;
    width: 1440px;
    height: 1018px;

    background: url(Dubai.jpg);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.head1 {
    position: relative;
    width: 60px;
    height: 40px;
    left: 64px;
    top: 64px;
}
.head2 {
    position: relative;
    width: 387px;
    height: 48px;
    left: 526px;
    top: 60px;
}
